body{
    margin:0;
    text-align:center;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#ff9a9e,#fecfef);
    color:white;
    overflow:hidden;
}

h1{margin-top:80px;font-size:38px;}
h2{font-size:24px;}

#mainContent{display:none;}

button{
    padding:12px 25px;
    font-size:18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin:10px;
}

#yesBtn{background:#ff4d6d;display:none;}
#noBtn{background:gray;position:absolute;}

input{
    padding:10px;
    font-size:16px;
    border-radius:8px;
    border:none;
}

.heart{
    position:absolute;
    animation:floatUp 5s linear infinite;
}

@keyframes floatUp{
    0%{transform:translateY(100vh);opacity:1;}
    100%{transform:translateY(-10vh);opacity:0;}
}

canvas{position:absolute;top:0;left:0;}

#reader{width:250px;margin:auto;}
